<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">

            <form [formGroup]="form1" (ngSubmit)="verifyOTP()">
                <div class="form-group">
                    <label for="exampleInputEmail1"> Mobile Number</label>
                    <input formControlName="phone" type="text" [(ngModel)]="mobileNumber" class="form-control">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1"> Enter User Name </label>
                    <input formControlName="name" type="text" class="form-control">
                </div>
                <div *ngIf="f1.name.touched && f1.name.invalid" class="alert alert-danger">
                    <div *ngIf="f1.name.errors?.required">user name is required.</div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1"> Enter otp </label>
                    <input formControlName="otp" type="text" class="form-control">
                </div>
                <div *ngIf="f1.otp.touched && f1.otp.invalid" class="alert alert-danger">
                    <div *ngIf="f1.otp.errors?.required">otp is required.</div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!form1.valid">verify Otp</button>
            </form>
            
        </div>
        <div class="col-sm">

        </div>
    </div>